<!DOCTYPE html>
<html>
  <head>
    <%-include('partials/header')%>
  <style>
    .carousel .carousel-item {
        width: 340px !important;
        padding: 2px;
    }
    .card{ 
        border-radius: 80px; 
        position: relative !important;
        right: 2px !important;
    }
  </style>
  </head>
  <body>

    <%-include('partials/menu')%>

    <div class="carousel">
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/blocks/April2021/4xMoQBrKcyvPv9WtM9QNDJhZ9VgAgxAyAL755uzL.jpeg"></a>
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/blocks/April2021/kxr92QsNoWxTnYhg0cbtz0JEWUHdgsUSryYoqT0W.jpeg"></a>
      <a class="carousel-item" href="#"><img src="https://livemedicedgley.com.bo/storage/app/Telemedicina-1250152623-scaled.jpg"></a>
    </div>

    <ul class="collection">

      <%for(var i=0; i < specialities.length; i++){%>

        <li class="collection-item avatar">
          <img src="https://livemedicedgley.com.bo/storage/app/256x256bb.jpg" alt="" class="circle">
          <span class="title"><%-specialities[i].name%></span>
          <p>
            Precios: <br>
            Consulta: <%-specialities[i].price%>
            <br>
             Re Consulta: <%-specialities[i].price_alt%>
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">info_outline</i></a>
        </li>

        <%}%>
      
    </ul>

    <video class="responsive-video" controls>
      <source src="https://livemedicedgley.com.bo/storage/app/VIDEO.mp4" type="video/mp4">
    </video>

    <%-include('partials/footer')%>

    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          fullWidth: true
        });
       
        // window.AppInventor.setWebViewString("HOLA");
        // M.toast({html: window.AppInventor.getWebViewString('percy'), classes: 'rounded'})
        // M.toast({html: 'Hola', classes: 'rounded'})
      });

    </script>
    
  </body>
</html>
      