<!DOCTYPE html>
<html>
  <head>
    <%-include('partials/header')%>
  </head>
  <body>

    <%-include('partials/menu')%>
    <h1><%-medico.full_name%></h1>
     <img class="responsive-img" src="https://livemedicedgley.com.bo/storage/<%-medico.user.avatar%>" alt="">
    <%-include('partials/footer')%>
  </body>
</html>
      